* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  font-family: 'Alegreya Sans';
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  padding: 12px;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFAED;
  transition: 0.3s;
  background: #CEAD6E;
  position: relative;
  min-height: 37px;
  max-height: 37px;
  width: 188px;
}

.btn::before {
  content: "";
  width: 212px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  position: absolute;
  left: -12px;
  top: -6px;
  z-index: -1;
  background: url("../img/btn.svg") center no-repeat;
  background-size: 100% 100%;
}

.btn:hover {
  background: #A78951;
}

.btn.btn-orange {
  background: #BF3E1A;
}

.btn.btn-orange::before {
  content: "";
  width: 212px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  position: absolute;
  left: -12px;
  top: -6px;
  background: url("../img/btn-orange.svg") center no-repeat;
  background-size: 100% 100%;
}

.btn.btn-orange:hover {
  background: #9E3C20;
}

.btn.btn-small {
  width: 100px;
  font-size: 11px;
  padding: 10px 12px;
  min-height: 30px;
  max-height: 30px;
}

.btn.btn-small::before {
  display: none;
}

.multi-title {
  text-align: center;
  font-family: 'Alegreya';
  font-weight: 500;
  font-size: 35px;
  line-height: 137%;
  color: #000000;
  position: relative;
  display: inline;
}

.multi-title::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -1px;
  background: #000000;
}

h1 {
  margin-bottom: 50px;
  color: #162417;
  width: 100%;
}

h2 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
  line-height: 133%;
  color: #162417;
  text-align: left;
  width: 100%;
}

h3 {
  width: 100%;
  font-weight: normal;
  font-size: 22px;
  line-height: 150%;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  color: #162417;
}

h4 {
  width: 100%;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 15px;
  text-align: left;
  letter-spacing: 0.02em;
  color: #162417;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

h4.active {
  overflow: unset;
  display: unset;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
}

ul, ol {
  width: 100%;
  list-style: none;
  margin-bottom: 20px;
}

ul.center li, ol.center li {
  text-align: center;
}

ul li, ol li {
  width: 95%;
  color: #162417;
  font-weight: normal;
  font-size: 13px;
  line-height: 200%;
  margin-bottom: 5px;
  text-align: left;
  letter-spacing: 0.02em;
  position: relative;
  left: 20px;
}

ul li::before, ol li::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  left: -20px;
  top: 9px;
  background: #FEE254;
  border-radius: 50%;
}

ol {
  list-style: decimal;
}

ol li::before {
  display: none;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 440;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-menu a {
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  color: #FFFAED;
  position: relative;
  padding: 40px 20px;
  transition: 0.3s;
}

.header-menu a.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu a.active::before {
  content: "";
  width: 100%;
  max-width: 71px;
  height: 0px;
  position: absolute;
  bottom: 0px;
  border: 1px solid #FFFAED;
}

.header-menu-m {
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 30px;
  height: 18px;
}

.header-menu-m.active {
  justify-content: center;
}

.header-menu-m.active span:nth-child(1) {
  transform: rotate(45deg);
}

.header-menu-m.active span:nth-child(2) {
  display: none;
}

.header-menu-m.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.header-menu-m span {
  width: 100%;
  height: 1px;
  background: #CEAD6E;
  display: block;
  transition: 0.3s;
}

.section {
  width: 100%;
  min-height: 585px;
  max-height: 585px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 98px;
  position: relative;
}

.section.sbonus {
  align-items: center;
}

.section.sbonus::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -5;
  background: url("../img/main-bonus.png") center no-repeat;
  background-size: cover;
}

.section.sslots {
  align-items: center;
  min-height: 528px;
}

.section.sslots::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -5;
  background: url("../img/main-slots.png") center no-repeat;
  background-size: cover;
}

.section.slive {
  align-items: center;
  min-height: 528px;
}

.section.slive::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -5;
  background: url("../img/main-live.png") center no-repeat;
  background-size: cover;
}

.section.slive .section-block-slots span {
  color: #5D3A25;
}

.section.slive .section-block-slots p {
  color: #5D3A25;
}

.section::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -5;
  background: url("../img/section/main.png") center no-repeat;
  background-size: cover;
}

.section .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-block {
  width: 100%;
  max-width: 350px;
  min-height: 515px;
  max-height: 515px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-family: 'Alegreya';
  position: relative;
  flex-direction: column;
  padding: 0 20px;
  margin-left: -300px;
}

.section-block::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: url("../img/section/1.svg") center no-repeat;
  background-size: 100% 100%;
}

.section-block .img {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.section-block .img img {
  object-fit: cover;
  width: 100%;
  max-width: 62px;
  max-height: 78px;
  height: 100%;
  margin-bottom: 12px;
}

.section-block .img span {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 136%;
  text-align: center;
  color: #5D3A25;
  display: block;
  width: 100%;
  max-width: 232px;
}

.section-block .price {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 15px;
}

.section-block .price p {
  font-family: 'Alegreya';
  font-weight: 500;
  font-size: 25px;
  line-height: 136%;
  color: #BF3E1A;
  margin-bottom: 10px;
  margin-right: 12px;
}

.section-block .price span {
  display: block;
  font-family: 'Alegreya';
  font-weight: 500;
  font-size: 60px;
  line-height: 135%;
  color: #BF3E1A;
}

.section-block .speans {
  margin-bottom: 35px;
  font-family: 'Alegreya Sans';
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  color: #BF3E1A;
}

.section-block-us {
  width: 100%;
  max-width: 350px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-family: 'Alegreya';
  position: relative;
  flex-direction: column;
  padding: 0 20px;
}

.section-block-us .title {
  font-family: 'Alegreya';
  font-weight: 500;
  font-size: 60px;
  line-height: 135%;
  text-align: center;
  color: #FFFAED;
  margin-bottom: 30px;
}

.section-block-us .price {
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
  justify-content: center;
}

.section-block-us .price span {
  display: block;
  margin-right: 15px;
  font-family: 'Alegreya';
  font-weight: 500;
  font-size: 60px;
  line-height: 135%;
  color: #FFFAED;
}

.section-block-us .price p {
  font-family: 'Alegreya';
  font-weight: 500;
  font-size: 100px;
  line-height: 100%;
  color: #FFFAED;
}

.section-block-us .sub {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFAED;
}

.section-block-slots {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.section-block-slots span {
  display: block;
  margin-bottom: 40px;
  font-family: 'Alegreya';
  font-weight: 500;
  font-size: 60px;
  line-height: 135%;
  color: #FFFAED;
}

.section-block-slots p {
  margin-bottom: 60px;
  width: 100%;
  max-width: 920px;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFAED;
}

.partners {
  min-height: auto;
  width: 100%;
  padding: 65px 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}

.partners .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.partners .container a {
  width: 100%;
  max-width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.partners .container a .img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.partners .container a span {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #5D3A25;
}

.swiper-container {
  width: 100%;
  overflow: visible !important;
}

.about {
  width: 100%;
  position: relative;
  min-height: 593px;
  padding: 80px 0;
  padding-bottom: 150px;
}

.about.ab2::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -5;
  background: url("../img/about/bg-2.svg") center no-repeat;
  background-size: cover;
}

.about::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -5;
  background: url("../img/about/bg.svg") center no-repeat;
  background-size: cover;
}

.about .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about .container span {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  text-align: center;
  color: #000000;
}

.about .container .box-vis-descp {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0px;
  padding-top: 40px;
}

.about .container .btn {
  margin-top: 50px;
}

.best-game {
  width: 100%;
  min-height: 750px;
  padding: 50px 0;
}

.best-game .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.best-game-row {
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.best-game-row.mt50 {
  margin-bottom: 50px;
}

.best-game-row.mt1 {
  margin-bottom: 0;
}

.best-game-row.mt2 {
  margin-bottom: 50px;
  margin-top: 0;
}

.best-game-row .left {
  width: 350px;
}

.best-game-row .right {
  width: calc(100% - 380px);
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 0px;
}

.best-game-row .item {
  width: 100%;
  max-width: 160px;
  display: flex;
  overflow: hidden;
  margin-bottom: 30px;
  min-height: 160px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;
}

.best-game-row .item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}

.best-game-row .item.w350 {
  max-width: 350px;
  max-height: 350px;
  min-height: 350px;
}

.best-game-row .item:hover::before {
  opacity: .4;
}

.best-game-row .item:hover .btn {
  display: block;
}

.best-game-row .item:hover .demo {
  display: block;
}

.best-game-row .item .btn {
  margin-bottom: 10px;
  display: none;
}

.best-game-row .item .demo {
  color: #fff;
  display: none;
}

.best-game-row .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
}

.bonus-timer {
  width: 100%;
  min-height: auto;
  padding: 146px 0;
}

.bonus-timer-block {
  width: 100%;
  max-width: 920px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.bonus-timer-block .img {
  width: 100%;
  max-width: 350px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.bonus-timer-block .img img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
}

.bonus-timer-block .img span {
  margin: 20px;
  display: block;
  font-weight: 900;
  font-size: 25px;
  line-height: 140%;
  color: #FEE254;
  position: relative;
  z-index: 2;
}

.bonus-timer-block .text {
  width: 100%;
  max-width: 570px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 50px;
}

.bonus-timer-block .text span {
  display: block;
  margin-left: 30px;
  font-weight: bold;
  font-size: 30px;
  line-height: 133%;
  color: #162417;
  max-width: 410px;
  width: 100%;
  margin-bottom: 50px;
}

.bonus-timer-block .text .btn {
  padding: 24px 21px;
  margin-left: 30px;
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 100%;
}

.bonus-timer-block .text .timer {
  width: 100%;
  background: #F6F7FB;
  display: flex;
  align-items: center;
  padding: 65px 30px;
}

.bonus-timer-block .text .timer img {
  margin-right: 30px;
}

.bonus-timer-block .text .timer .timer-row {
  display: flex;
  align-items: center;
}

.bonus-timer-block .text .timer p {
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  color: #798291;
}

.live {
  width: 100%;
  padding: 70px 0;
  position: relative;
}

.live.bg-not::before {
  display: none;
}

.live.bg-not .multi-title {
  color: #000000;
}

.live.bg-not .multi-title::before {
  background: #000000;
}

.live::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -5;
  background: url("../img/live/bg.png") center no-repeat;
  background-size: cover;
}

.live .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.live-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.live-content .multi-title {
  color: #fff;
}

.live-content .multi-title::before {
  background: #fff;
}

.live-content-row {
  margin-top: 70px;
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.live-content-row .item {
  width: 100%;
  max-width: 350px;
  display: flex;
  overflow: hidden;
  margin-bottom: 30px;
  min-height: 160px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;
}

.live-content-row .item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}

.live-content-row .item:hover::before {
  opacity: .4;
}

.live-content-row .item:hover .btn {
  display: block;
}

.live-content-row .item:hover .demo {
  display: block;
}

.live-content-row .item .btn {
  margin-bottom: 10px;
  display: none;
}

.live-content-row .item .demo {
  color: #fff;
  display: none;
}

.live-content-row .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
}

.live-img {
  margin-bottom: -70px;
}

.bonus {
  width: 100%;
  padding: 100px 0;
}

.bonus .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.bonus-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 100px;
}

.bonus-row .item {
  width: 100%;
  max-width: 540px;
  padding: 46px 36px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.bonus-row .item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -5;
  background: #E0DBC7;
}

.bonus-row .item::before {
  content: "";
  width: calc(100% - 72px);
  height: calc(100% - 92px);
  position: absolute;
  border: 2px solid #CEAD6E;
  pointer-events: none;
}

.bonus-row .item-img {
  position: absolute;
  right: 0;
  bottom: -10px;
  pointer-events: none;
}

.bonus-row .item-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 293px;
  height: 39px;
  position: relative;
  margin-top: -19px;
  margin-bottom: 24px;
}

.bonus-row .item-title::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../img/bonus/bg-btn.svg") center no-repeat;
  background-size: 100% 100%;
}

.bonus-row .item-title span {
  position: relative;
  z-index: 2;
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #FFFAED;
}

.bonus-row .item-percent {
  margin-bottom: 20px;
  font-family: 'Alegreya';
  font-weight: 500;
  font-size: 25px;
  line-height: 136%;
  text-align: center;
  color: #5D3A25;
}

.bonus-row .item-money {
  width: 100%;
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 135%;
  color: #BF3E1A;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
  margin-bottom: 50px;
}

.bonus-row .item-money span {
  padding-right: 10px;
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #BF3E1A;
  padding-bottom: 15px;
}

.bonus-row .item-cod {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 62px;
}

.bonus-row .item-cod span {
  display: block;
  margin-right: 11px;
  font-family: 'Alegreya';
  font-weight: 500;
  font-size: 25px;
  line-height: 136%;
  color: #5D3A25;
}

.bonus-row .item-cod p {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  color: #5D3A25;
  position: relative;
}

.bonus-row .item-cod p::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: url("../img/bonus/bg-border.svg") center no-repeat;
  background-size: 100% 100%;
}

.bonus-row .item .btn {
  margin-bottom: 46px;
}

.bonus-row .item .txt {
  font-family: 'Alegreya';
  font-weight: 500;
  font-size: 25px;
  line-height: 136%;
  text-align: center;
  color: #BF3E1A;
  margin-bottom: 100px;
  margin-top: 85px;
}

.size-jackpot {
  width: 100%;
  padding: 150px 0 300px 0;
  position: relative;
  min-height: 660px;
}

.size-jackpot.sj2::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -5;
  background: url("../img/size-jackpot/bg-2.png") center no-repeat;
  background-size: cover;
}

.size-jackpot::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -5;
  background: url("../img/size-jackpot/bg.png") center no-repeat;
  background-size: cover;
}

.size-jackpot .container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.size-jackpot .container span {
  display: block;
  width: 100%;
  margin-bottom: 22px;
  font-family: 'Alegreya';
  font-weight: 500;
  font-size: 35px;
  line-height: 137%;
  text-align: center;
  color: #FFFAED;
}

.size-jackpot .container p {
  margin-bottom: 40px;
  font-family: 'Alegreya';
  font-weight: 500;
  font-size: 100px;
  line-height: 135%;
  text-align: center;
  color: #FEE073;
}

.fast-pay {
  width: 100%;
  padding: 80px 0;
  background: #04603A;
}

.fast-pay .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fast-pay-left {
  width: auto;
  max-width: 255px;
  font-weight: bold;
  font-size: 30px;
  line-height: 133%;
  color: #FFFFFF;
}

.fast-pay-right {
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.fast-pay-right span {
  display: block;
  margin-bottom: 30px;
  width: 100%;
  max-width: 540px;
  font-weight: 500;
  font-size: 13px;
  line-height: 192%;
  color: #FFFFFF;
}

.faq {
  width: 100%;
  min-height: auto;
  padding-top: 80px;
  padding-bottom: 120px;
  background: #112121;
}

.faq-column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.faq-column .item {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px;
}

.faq-column .item.active {
  margin-bottom: 0;
}

.faq-column .item.active .item-title .img {
  background: url("../img/faq/minus.svg") center no-repeat;
}

.faq-column .item.active .item-content {
  display: flex;
}

.faq-column .item:last-child {
  margin-bottom: 0;
}

.faq-column .item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.faq-column .item-title span {
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #FFFAED;
}

.faq-column .item-title .img {
  width: 26px;
  height: 25px;
  transition: 0.3s;
  background: url("../img/faq/plus.svg") center no-repeat;
}

.faq-column .item-content {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 27px;
  margin-bottom: 50px;
}

.faq-column .item-content span {
  display: block;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #FFFAED;
}

.footer {
  width: 100%;
  min-height: auto;
  padding: 78px 0;
  padding-top: 0;
  background: #112121;
}

.footer-row {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-row__item {
  width: 100%;
  margin-bottom: 0px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.footer-row__item:first-child {
  margin-bottom: 150px;
}

.footer-row__item:last-child {
  margin-bottom: 0;
}

.footer-row__item:nth-child(2) {
  width: 30%;
}

.footer-row__item:nth-child(3) {
  width: 20%;
  align-items: center;
}

.footer-row__item:nth-child(4) {
  width: 20%;
  align-items: flex-end;
}

.footer-row__item:nth-child(4) .img {
  width: 212px;
  height: 194px;
}

.footer-row__item:nth-child(4) .img img {
  width: 100%;
  height: 100%;
}

.footer-row__item.lg {
  display: none;
}

.footer-row__item span {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #FFFAED;
}

.footer-row__item ul {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer-row__item ul li {
  width: auto !important;
  margin-bottom: 15px;
  margin-right: 20px;
  left: 0;
}

.footer-row__item ul li::before {
  display: none;
}

.footer-row__item ul li a {
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  color: #FFFAED;
  transition: 0.3s;
}

.footer-row__item ul li a:hover {
  color: #fde247;
}

.footer-row__item .img {
  display: flex;
  width: 140px;
  height: 144px;
}

.footer-row__item .img img {
  width: 100%;
  height: 100%;
}

.footer-row__item .txt {
  margin-top: 30px;
  width: 100%;
  max-width: 351px;
  font-weight: 500;
  font-size: 12px;
  line-height: 208%;
  color: #FFFFFF;
}

.footer-row__item .row-img {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  opacity: 0.5;
}

.footer-coopy {
  width: 100%;
  max-width: 730px;
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 116px;
}

.footer-coopy img {
  margin-right: 34px;
  margin-top: 10px;
}

.footer-coopy span {
  font-weight: normal;
  font-size: 12px;
  line-height: 208%;
  color: #FFFAED;
  display: block;
}

.offer-bonuses {
  width: 100%;
  min-height: auto;
  padding-top: 100px;
}

.offer-bonuses-title {
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 30px;
  line-height: 133%;
  color: #162417;
}

.offer-bonuses-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.offer-bonuses-row.mt-0 .item {
  margin-top: 0 !important;
}

.offer-bonuses-row .item {
  width: 100%;
  max-width: 540px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.offer-bonuses-row .item:last-child {
  margin-top: -60px;
}

.offer-bonuses-row .item .img {
  width: 100%;
  min-height: 218px;
  overflow: hidden;
  display: flex;
}

.offer-bonuses-row .item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offer-bonuses-row .item .text {
  border: 2px solid #F6F7FB;
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.offer-bonuses-row .item .text-title {
  display: block;
  margin-bottom: 25px;
  width: 100%;
  font-weight: 900;
  font-size: 25px;
  line-height: 140%;
  color: #162417;
}

.offer-bonuses-row .item .text-subtitle {
  margin-bottom: 25px;
  display: block;
  font-weight: bold;
  font-size: 15px;
  line-height: 200%;
  color: #162417;
  width: 100%;
}

.offer-bonuses-row .item .text span {
  display: block;
  margin-bottom: 25px;
  width: 100%;
  font-weight: 500;
  font-size: 13px;
  line-height: 192%;
  color: #798291;
}

.offer-bonuses-row .item .text .btn {
  font-size: 16px;
  padding: 22px;
  width: 100%;
  max-width: 100%;
}

.slots {
  width: 100%;
  min-height: auto;
  padding-top: 100px;
  padding-bottom: 20px;
}

.slots .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.slots-title {
  margin-bottom: 70px;
  font-weight: bold;
  font-size: 30px;
  line-height: 133%;
  color: #162417;
  text-align: left;
  width: 100%;
}

.slots-row {
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.slots-row .item {
  width: 100%;
  max-width: 160px;
  margin-bottom: 23px;
  position: relative;
}

.slots-row .item .img {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  min-height: 160px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;
}

.slots-row .item .img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}

.slots-row .item .img:hover::before {
  opacity: .4;
}

.slots-row .item .img:hover .btn {
  display: block;
}

.slots-row .item .img:hover .demo {
  display: block;
}

.slots-row .item .img .btn {
  margin-bottom: 10px;
  display: none;
}

.slots-row .item .img .demo {
  color: #fff;
  display: none;
}

.slots-row .item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
}

.slots-row .item span {
  display: block;
  margin-bottom: 1px;
  font-weight: bold;
  font-size: 12px;
  line-height: 125%;
  color: #162417;
}

.slots-row .item p {
  font-weight: 500;
  font-size: 12px;
  line-height: 208%;
  color: #798291;
}

.modal-menu {
  display: none;
  opacity: 0;
}

@media screen and (max-width: 1000px) {
  h1 {
    margin-bottom: 20px;
    font-size: 30px;
  }
  h2 {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
  }
  h3 {
    text-align: center;
    font-size: 16px;
  }
  h4 {
    text-align: center;
    font-size: 14px;
  }
  ul li, ol li {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .btn {
    font-size: 10px;
    padding: 10px;
    min-height: 30px;
    max-height: 30px;
    width: 150px;
  }
  .btn::before {
    width: 170px;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    top: -4px;
    left: -10px;
  }
  .btn.btn-orange::before {
    width: 170px;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    top: -4px;
    left: -10px;
  }
  .multi-title {
    font-size: 25px;
    line-height: 38px;
  }
  .multi-title::before {
    left: 0;
  }
  .header {
    min-height: 60px;
  }
  .header-logo {
    width: 76px;
  }
  .header-logo img {
    width: 100%;
  }
  .header-menu {
    display: none;
  }
  .header-menu-m {
    display: flex;
  }
  .section {
    min-height: 100%;
    padding: 65px 0;
    padding-top: 0px;
    margin-top: 80px;
  }
  .section.sbonus {
    padding-top: 65px;
  }
  .section.slive {
    min-height: 580px;
  }
  .section.slive::before {
    background: url("../img/main-live-m.png") center no-repeat;
    background-size: cover;
  }
  .section.slive .section-block-slots span {
    margin-bottom: 20px;
  }
  .section.slive .section-block-slots p {
    margin-bottom: 40px;
  }
  .section-block {
    flex-direction: column;
    margin-left: 0;
  }
  .section-block-us .title {
    font-size: 40px;
    line-height: 156%;
  }
  .section-block-us .price span {
    font-size: 40px;
    line-height: 100%;
  }
  .section-block-us .price p {
    font-size: 80px;
    line-height: 100%;
  }
  .section-block-us .sub {
    font-size: 25px;
    line-height: 30px;
  }
  .section-block-slots span {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 156%;
  }
  .section-block-slots p {
    margin-bottom: 70px;
    font-size: 25px;
    line-height: 30px;
  }
  .section-block-slots p br {
    display: none;
  }
  .partners {
    overflow: hidden;
  }
  .swiper-container {
    width: 100%;
  }
  .about {
    min-height: auto;
    padding-bottom: 80px;
  }
  .about.ab2 {
    padding-bottom: 150px;
  }
  .about.ab2::before {
    background: url("../img/about/bg-2-m.svg") center no-repeat;
    background-size: cover;
  }
  .about::before {
    background: url("../img/about/bg-m.svg") center no-repeat;
    background-size: cover;
  }
  .about .container span {
    font-size: 13px;
    line-height: 185%;
  }
  .best-game {
    min-height: 100%;
    padding: 60px 0;
  }
  .best-game-row .left {
    display: none;
  }
  .best-game-row .right {
    width: 100%;
  }
  .best-game-row .item {
    max-width: 48%;
  }
  .live {
    padding: 0;
    padding-bottom: 100px;
  }
  .live.pt100 {
    padding-top: 100px;
  }
  .live::before {
    background: url("../img/live/bg-m.svg") center no-repeat;
    background-size: cover;
  }
  .live .container {
    flex-direction: column;
  }
  .live-content {
    align-items: center;
    text-align: center;
  }
  .live-content span {
    margin-bottom: 25px;
    font-size: 25px;
  }
  .live-content p {
    margin-bottom: 70px;
    font-size: 12px;
  }
  .live-content-row {
    justify-content: center;
  }
  .live-img {
    display: none;
  }
  .bonus {
    padding: 50px 0;
    margin-bottom: 90px;
    padding-bottom: 0;
  }
  .bonus-row {
    margin-top: 40px;
  }
  .bonus-row .item {
    padding: 30px 23px;
    margin-bottom: 45px;
  }
  .bonus-row .item::before {
    width: calc(100% - 46px);
    height: calc(100% - 60px);
  }
  .bonus-row .item-title {
    width: 187px;
    height: 25px;
    margin-top: -13px;
    margin-bottom: 15px;
  }
  .bonus-row .item-title span {
    font-size: 10.2519px;
    line-height: 125%;
  }
  .bonus-row .item-percent {
    font-size: 16.0185px;
    margin-bottom: 12px;
  }
  .bonus-row .item-money {
    font-size: 32.4444px;
    margin-bottom: 32px;
  }
  .bonus-row .item-money span {
    font-size: 12.8148px;
    margin-bottom: 0px;
    padding-bottom: 5px;
  }
  .bonus-row .item-cod {
    margin-bottom: 40px;
  }
  .bonus-row .item-cod span {
    font-size: 16.0185px;
  }
  .bonus-row .item-cod p {
    width: 95px;
    height: 25px;
    font-size: 10.2519px;
  }
  .bonus-row .item-img {
    width: 100px;
    bottom: -20px;
    right: -20px;
  }
  .bonus-row .item-img img {
    width: 100%;
  }
  .bonus-row .item .txt {
    font-size: 16.0185px;
    line-height: 136%;
    margin-bottom: 60px;
    margin-top: 73px;
  }
  .bonus-row .item .btn {
    transform: scale(0.8);
  }
  .fast-pay .container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .fast-pay-left {
    width: 100%;
    max-width: 100%;
    font-size: 20px;
    margin-bottom: 25px;
  }
  .fast-pay-left br {
    display: none;
  }
  .fast-pay-right {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .fast-pay-right span {
    margin-bottom: 70px;
    font-size: 12px;
  }
  .size-jackpot {
    min-height: 560px;
    padding-bottom: 255px;
    padding-top: 50px;
    margin-top: -10px;
    margin-bottom: -10px;
  }
  .size-jackpot::before {
    background: url("../img/size-jackpot/bg-m.png") center no-repeat;
    background-size: cover;
  }
  .size-jackpot.sj2 {
    padding-top: 160px;
  }
  .size-jackpot.sj2::before {
    background: url("../img/size-jackpot/bg-2-m.png") center no-repeat;
    background-size: cover;
  }
  .size-jackpot .container span {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .size-jackpot .container p {
    font-size: 50px;
    margin-bottom: 60px;
  }
  .faq {
    padding: 50px 0;
    padding-bottom: 80px;
  }
  .faq-column .item {
    margin-bottom: 35px;
  }
  .faq-column .item-title span {
    width: 80%;
    font-size: 16px;
    line-height: 19px;
  }
  .faq-column .item-title .img {
    width: 13px;
    height: 13px;
    background-size: 100% 100%;
  }
  .faq-column .item-content {
    margin-top: 15px;
    margin-bottom: 50px;
  }
  .faq-column .item-content span {
    font-size: 15px;
    line-height: 187%;
  }
  .footer {
    padding: 50px 0;
    min-height: 100%;
    padding-top: 0;
  }
  .footer-row__item {
    width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 70px !important;
  }
  .footer-row__item:nth-child(3) {
    width: 50% !important;
    align-items: flex-start;
  }
  .footer-row__item:nth-child(3) .img {
    width: 100%;
    max-width: 103px;
    height: 101px;
  }
  .footer-row__item:nth-child(3) .img img {
    width: 100%;
  }
  .footer-row__item:nth-child(4) {
    width: 50% !important;
  }
  .footer-row__item:nth-child(4) .img {
    width: 100%;
    max-width: 158px;
    height: 144px;
  }
  .footer-row__item:nth-child(4) .img img {
    width: 100%;
  }
  .footer-row__item.lg {
    display: block;
    margin-bottom: 0;
  }
  .footer-row__item.lg .img {
    width: 65px;
    height: 67px;
  }
  .footer-row__item.lg .img img {
    width: 100%;
    height: 100%;
  }
  .footer-row__item .row-img {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer-row__item .row-img:nth-child(3) {
    margin-top: 0;
  }
  .footer-row__item .row-img a {
    margin-bottom: 25px;
  }
  .footer-row__item .row-img a img {
    width: 80%;
  }
  .footer-coopy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
  }
  .footer-coopy img {
    margin-bottom: 50px;
  }
  .offer-bonuses {
    padding: 50px 0;
    padding-bottom: 0;
  }
  .offer-bonuses-title {
    margin-bottom: 60px;
    font-size: 20px;
    max-width: 80%;
  }
  .offer-bonuses-row .item {
    margin-bottom: 40px;
    margin-top: 0 !important;
  }
  .offer-bonuses-row .item .img {
    min-height: 140px;
  }
  .offer-bonuses-row .item .text {
    padding: 18px;
  }
  .offer-bonuses-row .item .text-title {
    margin-bottom: 16px;
    font-size: 16.0185px;
  }
  .offer-bonuses-row .item .text-subtitle {
    margin-bottom: 16px;
    font-size: 9.61111px;
  }
  .offer-bonuses-row .item .text span {
    margin-bottom: 16px;
    font-size: 8.32963px;
  }
  .offer-bonuses-row .item .text .btn {
    padding: 14px;
    font-size: 10.2519px;
  }
  .slots {
    padding: 50px 0;
    padding-bottom: 0;
  }
  .slots-title {
    margin-bottom: 60px;
    font-size: 20px;
    text-align: left;
  }
  .slots-row .item {
    max-width: 48%;
    margin-bottom: 40px;
  }
  .modal-menu {
    opacity: 0;
    width: 100%;
    height: 373px;
    position: fixed;
    left: 0;
    top: -120%;
    z-index: 100;
    background: #000000;
    padding: 40px 15px;
    transition: 0.3s;
    display: block;
  }
  .modal-menu.active {
    opacity: 1;
    top: 80px;
  }
  .modal-menu-close {
    position: absolute;
    right: 15px;
    top: 30px;
  }
  .modal-menu .header-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
  }
  .modal-menu .header-menu a {
    width: 100%;
    margin-bottom: 16px !important;
    font-family: 'Alegreya Sans' !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 200% !important;
    padding: 0 !important;
    color: #FFFFFF;
  }
}
