
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none; 
    -webkit-appearance: none;
    font-family: 'Alegreya Sans';
    // font-family: 'Alegreya';
}
a {
    color: #000;
    text-decoration: none;
}


.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    padding: 12px;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFAED;
    transition: 0.3s;
    background: #CEAD6E;
    position: relative;
    min-height: 37px;
    max-height: 37px;
    width: 188px;
    &::before {
        content: "";
        width: 212px;
        height: 50px;
        min-height: 50px;
        max-height: 50px;
        position: absolute;
        left: -12px;
        top: -6px;
        z-index: -1;
        background: url("../img/btn.svg") center no-repeat ;
        background-size: 100% 100%;
    }
    &:hover {
        background: #A78951;
    }
    &.btn-orange {
        background: #BF3E1A;
        &::before {
            content: "";
            width: 212px;
            height: 50px;
            min-height: 50px;
            max-height: 50px;
            position: absolute;
            left: -12px;
            top: -6px;
            background: url("../img/btn-orange.svg") center no-repeat ;
            background-size: 100% 100%;
        }
        &:hover {
            background: #9E3C20;

        }
    }
    &.btn-small {
        width: 100px;
        font-size: 11px;
        padding: 10px 12px;
        min-height: 30px;
        max-height: 30px;
        &::before {
            display: none;
        }
    }
}

.multi-title {
    text-align: center;
    font-family: 'Alegreya';
    font-weight: 500;
    font-size: 35px;
    line-height: 137%;
    color: #000000;
    position: relative;
    display: inline;

    &::before {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -1px;
        background: #000000;
    }
}

// тайтл
h1 {
    margin-bottom: 50px;
    color: #162417;
    width: 100%;
}
h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
    line-height: 133%;
    color: #162417;
    text-align: left;
    width: 100%;
}
h3{
    width: 100%;
    font-weight: normal;
    font-size: 22px;
    line-height: 150%;
    font-weight: 500;
    text-align: left;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
    color: #162417;
}
h4 {
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 15px;
    text-align: left;
    letter-spacing: 0.02em;

    color: #162417;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    &.active {
        overflow: unset;
        display: unset;
        -webkit-line-clamp: unset;
        -webkit-box-orient: unset;  
    }
}
ul, ol {
    width: 100%;
    list-style: none;
    margin-bottom: 20px;
    &.center {
        li {
            text-align: center;
        }
        
    }
    li {
        width: 95%;
        color: #162417;
        font-weight: normal;
        font-size: 13px;
        line-height: 200%;
        margin-bottom: 5px;
        text-align: left;
        letter-spacing: 0.02em;
        position: relative;
        left: 20px;
        &::before {
            content: "";
            width: 8px;
            height: 8px;
            position: absolute;
            left: -20px;
            top: 9px;
            background: #FEE254;
            border-radius: 50%;
        }
    }
}
ol {
    list-style: decimal;
    li {
        &::before {
            display: none;
        }
    }
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 440;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.header-menu {
    display: flex;
    align-items: center;
    a {
        font-weight: normal;
        font-size: 16px;
        line-height: 125%;
        color: #FFFAED;
        position: relative;
        padding: 40px 20px;
        transition: 0.3s;
        &.active {
            display: flex;
            justify-content: center;
            align-items: center;
            &::before {
                content: "";
                width: 100%;
                max-width: 71px;
                height: 0px;
                position: absolute;
                bottom: 0px;
                border: 1px solid #FFFAED;
            }
        }
    }
}
.header-menu-m {
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 30px;
    height: 18px;
    &.active {
        justify-content: center;
        span {
            &:nth-child(1) {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }
    span {
        width: 100%;
        height: 1px;
        background: #CEAD6E;
        display: block;
        transition: 0.3s;
    }
}

.section {
    width: 100%;
    min-height: 585px;
    max-height: 585px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 98px;
    position: relative;
    &.sbonus {
        align-items: center;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -5;
            background: url("../img/main-bonus.png") center no-repeat; 
            background-size: cover;
        }
    }
    &.sslots {
        align-items: center;
        min-height: 528px;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -5;
            background: url("../img/main-slots.png") center no-repeat; 
            background-size: cover;
        }
    }
    &.slive {
        align-items: center;
        min-height: 528px;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -5;
            background: url("../img/main-live.png") center no-repeat; 
            background-size: cover;
        }
        .section-block-slots {
            span {
                color: #5D3A25;

            }
            p {
                color: #5D3A25;
            }
        }
    }
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -5;
        background: url("../img/section/main.png") center no-repeat;
        background-size: cover;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;

    }
}
.section-block {
    width: 100%;
    max-width: 350px;
    min-height: 515px;
    max-height: 515px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: 'Alegreya';
    position: relative;
    flex-direction: column ;
    padding: 0 20px;
    margin-left: -300px;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        background: url("../img/section/1.svg") center no-repeat;
        background-size: 100% 100%;
    }
    .img {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        img {
            object-fit: cover;
            width: 100%;
            max-width: 62px;
            max-height: 78px;
            height: 100%;
            margin-bottom: 12px;

        }
        span {
            font-family: 'Alegreya';
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 136%;
            text-align: center;
            color: #5D3A25;
            display: block;
            width: 100%;
            max-width: 232px;
        }
    }
    .price {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 15px;
        p {
            font-family: 'Alegreya';
            font-weight: 500;
            font-size: 25px;
            line-height: 136%;
            color: #BF3E1A;
            margin-bottom: 10px;
            margin-right: 12px;
        }
        span {
            display: block;
            font-family: 'Alegreya';
            font-weight: 500;
            font-size: 60px;
            line-height: 135%;
            color: #BF3E1A;
           
        }
    }
    .speans {
        margin-bottom: 35px;
        font-family: 'Alegreya Sans';
        font-weight: normal;
        font-size: 16px;
        line-height: 125%;
        color: #BF3E1A;
    }
}
.section-block-us {
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: 'Alegreya';
    position: relative;
    flex-direction: column ;
    padding: 0 20px;
    .title {
        font-family: 'Alegreya';
        font-weight: 500;
        font-size: 60px;
        line-height: 135%;
        text-align: center;
        color: #FFFAED;
        margin-bottom: 30px;
    }
    .price {
        display: flex;
        align-items: flex-end;
        margin-bottom: 30px;
        justify-content: center;
        span {
            display: block;
            margin-right: 15px;
            font-family: 'Alegreya';
            font-weight: 500;
            font-size: 60px;
            line-height: 135%;
            color: #FFFAED;
        }
        p {
            font-family: 'Alegreya';
            font-weight: 500;
            font-size: 100px;
            line-height: 100%;
            color: #FFFAED;
        }
    }
    .sub {
        margin-bottom: 50px;
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #FFFAED;
    }
}
.section-block-slots {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    span {
        display: block;
        margin-bottom: 40px;
        font-family: 'Alegreya';
        font-weight: 500;
        font-size: 60px;
        line-height: 135%;
        color: #FFFAED;
    }
    p {
        margin-bottom: 60px;
        width: 100%;
        max-width: 920px;
        text-align: center;
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #FFFAED;
    }
}

.partners {
    min-height: auto;
    width: 100%;
    padding: 65px 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        a {
            width: 100%;
            max-width: 85px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            .img {
                width: 65px;
                height: 65px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
                background: #FFFFFF;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
            }
            span {
                display: block;
                font-weight: normal;
                font-size: 16px;
                line-height: 125%;
                text-align: center;
                color: #5D3A25;
            }
        }
    }
}
.swiper-container {
    width: 100%;
    overflow: visible !important;
}

.about {
    width: 100%;
    position: relative;
    min-height: 593px;
    padding: 80px 0;
    padding-bottom: 150px;
    &.ab2 {
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -5;
            background: url("../img/about/bg-2.svg") center no-repeat;
            background-size: cover;
        }
    }
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -5;
        background: url("../img/about/bg.svg") center no-repeat;
        background-size: cover;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        span {
            display: block;
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 20px;
            line-height: 200%;
            text-align: center;
            color: #000000;

        }
        .box-vis-descp {
            width: 100%;
            min-height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 0px;
            padding-top: 40px;
        }
        .btn {
            margin-top: 50px;
        }
    }
}


.best-game {
    width: 100%;
    min-height: 750px;
    padding: 50px 0;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.best-game-row {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    &.mt50 {
        margin-bottom: 50px;
    }
    &.mt1 {
        margin-bottom: 0;
    }
    &.mt2 {
        margin-bottom: 50px;
        margin-top: 0;
    }
    .left {
        width: 350px;
    }
    .right {
        width: calc(100% - 380px);
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 0px;
    }
    .item {
        width: 100%;
        max-width: 160px;
        display: flex;
        overflow: hidden;
        margin-bottom: 30px;
        min-height: 160px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 0.3s;
     
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: #000;
            opacity: 0;
            transition: 0.3s;
            z-index: -1;   
        }
        &.w350 {
            max-width: 350px;
            max-height: 350px;
            min-height: 350px;
        }
        &:hover {
            &::before {
                opacity: .4;
            }
            .btn {
                display: block;
            }
            .demo {
                display: block;
            }
        }
        .btn {
            margin-bottom: 10px;
            display: none;
        }
        .demo {
            color: #fff;
            display: none;
           
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -2;
        }
    }
}

.bonus-timer {
    width: 100%;
    min-height: auto;
    padding: 146px 0;

}
.bonus-timer-block {
    width: 100%;
    max-width: 920px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    .img {
        width: 100%;
        max-width: 350px;
        position: relative;
        display: flex;
        align-items: flex-end;
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
        }
        span {
            margin: 20px;
            display: block;
            font-weight: 900;
            font-size: 25px;
            line-height: 140%;
            color: #FEE254;
            position: relative;
            z-index: 2;
        }
    }
    .text {
        width: 100%;
        max-width: 570px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        padding-top: 50px;
        span {
            display: block;
            margin-left: 30px;
            font-weight: bold;
            font-size: 30px;
            line-height: 133%;
            color: #162417;
            max-width: 410px;
            width: 100%;
            margin-bottom: 50px;
        }
        .btn {
            padding: 24px 21px;
            margin-left: 30px;
            margin-bottom: 60px;
            font-size: 16px;
            line-height: 100%;
        }
        .timer {
            width: 100%;
            background: #F6F7FB;
            display: flex;
            align-items: center;
            padding: 65px 30px;
            img {
                margin-right: 30px;
            }
            .timer-row {
                display: flex;
                align-items: center;
            }
            p {
                font-weight: 500;
                font-size: 40px;
                line-height: 100%;
                color: #798291;
            }
        }
    }
}

.live {
    width: 100%;
    padding: 70px 0;
    position: relative;
    &.bg-not {
        &::before {
            display: none;
        }
        .multi-title {
            color: #000000;
            &::before {
                background: #000000;
            }
        }
    }
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -5;
        background: url("../img/live/bg.png") center no-repeat;
        background-size: cover;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.live-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    .multi-title {
        color: #fff;
        &::before {
            background: #fff;
        }
    }
    &-row {
        margin-top: 70px;
        margin-bottom: 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        .item {
            width: 100%;
            max-width: 350px;
            display: flex;
            overflow: hidden;
            margin-bottom: 30px;
            min-height: 160px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: 0.3s;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background: #000;
                opacity: 0;
                transition: 0.3s;
                z-index: -1;   
            }
            &:hover {
                &::before {
                    opacity: .4;
                }
                .btn {
                    display: block;
                }
                .demo {
                    display: block;
                }
            }
            .btn {
                margin-bottom: 10px;
                display: none;
            }
            .demo {
                color: #fff;
                display: none;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -2;
            }
        }
    }

}
.live-img {
    margin-bottom: -70px;
}

.bonus {
    width: 100%;
    padding: 100px 0;
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;

    }
}
.bonus-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 100px;
    .item {
        width: 100%;
        max-width: 540px;
        padding: 46px 36px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        overflow: hidden;
        
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -5;
            background: #E0DBC7;
        }
        &::before {
            content: "";
            width: calc(100% - 72px);
            height: calc(100% - 92px);
            position: absolute;
            border: 2px solid #CEAD6E;
            pointer-events: none;
        }
        &-img {
            position: absolute;
            right: 0;
            bottom: -10px;
            pointer-events: none;
        }
        &-title {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 293px;
            height: 39px;
            position: relative;
            margin-top: -19px;
            margin-bottom: 24px;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                background: url("../img/bonus/bg-btn.svg") center no-repeat;
                background-size: 100% 100%;
            }
            span {
                position: relative;
                z-index: 2;
                display: block;
                font-weight: normal;
                font-size: 16px;
                line-height: 125%;
                text-align: center;
                color: #FFFAED;
                
            }
        }
        &-percent {
            margin-bottom: 20px;
            font-family: 'Alegreya';
            font-weight: 500;
            font-size: 25px;
            line-height: 136%;
            text-align: center;
            color: #5D3A25;
        }
        &-money {
            width: 100%;
            font-family: 'Alegreya';
            font-style: normal;
            font-weight: 500;
            font-size: 60px;
            line-height: 135%;
            color: #BF3E1A;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: flex-end;
            margin-bottom: 50px;
            span {
                padding-right: 10px;
                font-family: 'Alegreya';
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 27px;
                color: #BF3E1A;
                padding-bottom: 15px;
            }
        }
        &-cod {
            width: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 62px;
            span {
                display: block;
                margin-right: 11px;
                font-family: 'Alegreya';
                font-weight: 500;
                font-size: 25px;
                line-height: 136%;
                color: #5D3A25;
            }
            p {
                width: 150px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-weight: normal;
                font-size: 16px;
                line-height: 125%;
                color: #5D3A25;
                position: relative;
                &::before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: -1;
                    background: url("../img/bonus/bg-border.svg") center no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
        .btn {
            margin-bottom: 46px;
        }
        .txt {
            font-family: 'Alegreya';
            font-weight: 500;
            font-size: 25px;
            line-height: 136%;
            text-align: center;
            color: #BF3E1A;
            margin-bottom: 100px;
            margin-top: 85px;
        }
    }

}

.size-jackpot {
    width: 100%;
    padding: 150px 0 300px 0;
    position: relative;
    min-height: 660px;
    &.sj2 {
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -5;
            background: url("../img/size-jackpot/bg-2.png") center no-repeat;
            background-size: cover;
        }
    }
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -5;
        background: url("../img/size-jackpot/bg.png") center no-repeat;
        background-size: cover;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        span {
            display: block;
            width: 100%;
            margin-bottom: 22px;
            font-family: 'Alegreya';
            font-weight: 500;
            font-size: 35px;
            line-height: 137%;
            text-align: center;
            color: #FFFAED;
        }
        p {
            margin-bottom: 40px;
            font-family: 'Alegreya';
            font-weight: 500;
            font-size: 100px;
            line-height: 135%;
            text-align: center;
            color: #FEE073;
        }
    }
}

.fast-pay {
    width: 100%;
    padding: 80px 0;
    background: #04603A;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.fast-pay-left {
    width: auto;
    max-width: 255px;
    font-weight: bold;
    font-size: 30px;
    line-height: 133%;
    color: #FFFFFF;
    
}
.fast-pay-right {
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    span {
        display: block;
        margin-bottom: 30px;
        width: 100%;
        max-width: 540px;
        font-weight: 500;
        font-size: 13px;
        line-height: 192%;
        color: #FFFFFF;
    }

}

.faq {
    width: 100%;
    min-height: auto;
    padding-top: 80px;
    padding-bottom: 120px;
    background: #112121;
}
.faq-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    .item {
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 50px;
        &.active {
            margin-bottom: 0;
            .item-title {
                .img {
                    background: url("../img/faq/minus.svg") center no-repeat;
                }
            }
            .item-content {
                display: flex;
              
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
        &-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            cursor: pointer;
            transition: 0.3s;
         
            span {
                display: block;
                width: 100%;
                font-weight: 500;
                font-size: 30px;
                line-height: 36px;
                color: #FFFAED;
            }
            .img {
                width: 26px;
                height: 25px;
                transition: 0.3s;
                background: url("../img/faq/plus.svg") center no-repeat;
            }
        }
        &-content {
            width: 100%;
            display: none;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 27px;
            margin-bottom: 50px;
            span {
                display: block;
                font-weight: normal;
                font-size: 20px;
                line-height: 150%;
                color: #FFFAED;
            }
        }
    }
}

.footer {
    width: 100%;
    min-height: auto;
    padding: 78px 0;
    padding-top: 0;
    background: #112121;
}
.footer-row {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item {
        width: 100%;
        margin-bottom: 0px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        &:first-child {
            margin-bottom: 150px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &:nth-child(2) {
            width: 30%;
        }
        &:nth-child(3) {
            width: 20%;
            align-items: center;
        }
        &:nth-child(4) {
            width: 20%;
            align-items: flex-end;
            .img {
                width: 212px;
                height: 194px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &.lg {
            display: none;
        }
        span {
            display: block;
            margin-bottom: 5px;
            font-weight: 500;
            font-size: 20px;
            line-height: 200%;
            color: #FFFAED;
        }
        ul {
            width: 100%;
            max-width: 320px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
          
            li {
                width: auto !important;
                margin-bottom: 15px;
                margin-right: 20px;
                left: 0;
                &::before {
                 
                    display: none ;
                }
                a {
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 125%;
                    color: #FFFAED;
                    transition: 0.3s;
                    &:hover {
                        color: #fde247;
                    }
                }
            }
        }
        .img {
            display: flex;
            width: 140px;
            height: 144px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .txt {
            margin-top: 30px;
            width: 100%;
            max-width: 351px;
            font-weight: 500;
            font-size: 12px;
            line-height: 208%;
            color: #FFFFFF;
        }
        .row-img {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            opacity: 0.5;
        }
    }
}
.footer-coopy {
    width: 100%;
    max-width: 730px;
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 116px;
    img {
        margin-right: 34px;
        margin-top: 10px;
    }
    span {
        font-weight: normal;
        font-size: 12px;
        line-height: 208%;
        color: #FFFAED;
        display: block;
 
    }
}

.offer-bonuses {
    width: 100%;
    min-height: auto;
    padding-top: 100px;
}
.offer-bonuses-title {
    margin-bottom: 100px;
    font-weight: bold;
    font-size: 30px;
    line-height: 133%;
    color: #162417;
}
.offer-bonuses-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    &.mt-0 {
        .item {
            margin-top: 0 !important;
        }
     
    }
    .item {
        width: 100%;
        max-width: 540px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
     
        &:last-child {
            margin-top: -60px;
        }
        .img {
            width: 100%;
            min-height: 218px;
            overflow: hidden;
            display: flex;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .text {
            border: 2px solid #F6F7FB;
            padding: 35px 30px;
            display: flex;
            flex-direction: column;
            width: 100%;
            &-title {
                display: block;
                margin-bottom: 25px;
                width: 100%;
                font-weight: 900;
                font-size: 25px;
                line-height: 140%;
                color: #162417;
            }
            &-subtitle {
                margin-bottom: 25px;
                display: block;
                font-weight: bold;
                font-size: 15px;
                line-height: 200%;
                color: #162417;
                width: 100%;
            }
            span {
                display: block;
                margin-bottom: 25px;
                width: 100%;
                font-weight: 500;
                font-size: 13px;
                line-height: 192%;
                color: #798291;
            }
            .btn {
                font-size: 16px;
                padding: 22px;
                width: 100%;
                max-width: 100%;
            }
        }
    }
}

.slots {
    width: 100%;
    min-height: auto;
    padding-top: 100px;
    padding-bottom: 20px;
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
.slots-title {
    margin-bottom: 70px;
    font-weight: bold;
    font-size: 30px;
    line-height: 133%;
    color: #162417;
    text-align: left;
    width: 100%;
}
.slots-row {
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    .item {
        width: 100%;
        max-width: 160px;
        margin-bottom: 23px;
        position: relative;
        .img {
            width: 100%;
            display: flex;
            margin-bottom: 10px;
            border-radius: 5px;
            overflow: hidden;
            min-height: 160px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: 0.3s;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background: #000;
                opacity: 0;
                transition: 0.3s;
                z-index: -1;   
            }
            &:hover {
                &::before {
                    opacity: .4;
                }
                .btn {
                    display: block;
                }
                .demo {
                    display: block;
                }
            }
            .btn {
                margin-bottom: 10px;
                display: none;
            }
            .demo {
                color: #fff;
                display: none;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -2;
            }

        }
        span {
            display: block;
            margin-bottom: 1px;
            font-weight: bold;
            font-size: 12px;
            line-height: 125%;
            color: #162417; 
        }
        p {
            font-weight: 500;
            font-size: 12px;
            line-height: 208%;
            color: #798291;
        }
    }
}

.modal-menu {
    display: none;
    opacity: 0;
}

@media screen and (max-width:1000px) {
    h1 {
        margin-bottom: 20px;
    
        font-size: 30px;
        
    }
    h2 {
        margin-bottom: 20px;
        font-size: 20px;
        text-align: center;
    }
    h3{
        text-align: center;
        font-size: 16px;

    }
    h4 {
        text-align: center;
        font-size: 14px;

    }
    ul, ol {
        li {
            font-size: 13px;
            margin-bottom: 10px;

        }
    }
    .btn {
        font-size: 10px;
        padding: 10px;
        min-height: 30px;
        max-height: 30px;
        width: 150px;
        &::before {
            width: 170px;
            height: 40px;
            min-height: 40px;
            max-height: 40px;
            top: -4px;
            left: -10px;
        }
        &.btn-orange {
         
            &::before {
                width: 170px;
                height: 40px;
                min-height: 40px;
                max-height: 40px;
                top: -4px;
                left: -10px;
            }
            
        }
    }

    .multi-title {
        font-size: 25px;
        line-height: 38px;
        &::before {
            left: 0;
        }
    }

    .header {
        min-height: 60px;
    }
    .header-logo {
        width: 76px;
        img {
            width: 100%;
        }
    }
    .header-menu {
        display: none;
    }
    .header-menu-m {
        display: flex;
    }

    .section {
        min-height: 100%;
        padding: 65px 0;
        padding-top: 0px;
        margin-top: 80px;
        &.sbonus {
            padding-top: 65px;
        }
        &.slive {
            min-height: 580px;
            &::before {
                background: url("../img/main-live-m.png") center no-repeat; 
                background-size: cover;
            }
            .section-block-slots {
                span {
                    margin-bottom: 20px;
                }
                p {
                    margin-bottom: 40px;
                }
            }
        }
    }
    .section-block {
        flex-direction: column;
        margin-left: 0;

    }
    .section-block-us {
        .title {
            font-size: 40px;
            line-height: 156%;
        }
        .price {
            span {
                font-size: 40px;
                line-height: 100%;
            }
            p {
                font-size: 80px;
                line-height: 100%;
            }
        }
        .sub {
            font-size: 25px;
            line-height: 30px;
        }
    }
    .section-block-slots {
        span {
            margin-bottom: 40px;
            font-size: 40px;
            line-height: 156%;
        }
        p {
            margin-bottom: 70px;
            font-size: 25px;
            line-height: 30px;
            br {
                display: none;
            }
        }
    }

    .partners {
        overflow: hidden;
        .container {
            
        }
    }
    .swiper-container {
        width: 100%;

    }
    

    .about {
        min-height: auto;
        padding-bottom: 80px;
        &.ab2 {
            padding-bottom: 150px;
            &::before {
                background: url("../img/about/bg-2-m.svg") center no-repeat;
                background-size: cover;
            }
        }
        &::before {
            background: url("../img/about/bg-m.svg") center no-repeat;
            background-size: cover;
        }
        .container {
            span {
                font-size: 13px;
                line-height: 185%;
            }
        }
    }

    .best-game {
        min-height: 100%;
        padding: 60px 0;
    }
    .best-game-row {
        .left {
            display: none;
        }
        .right {
            width: 100%;
        }
        .item {
            max-width: 48%;
        }
    }


    .live {
        padding: 0;
        padding-bottom: 100px;
        &.pt100 {
            padding-top: 100px;
        }
        &::before {
            background: url("../img/live/bg-m.svg") center no-repeat;
            background-size: cover;
        }
        .container {
            flex-direction: column;
        }
    }
    .live-content {
        align-items: center;
        text-align: center;
        span {
            margin-bottom: 25px;
            font-size: 25px;
        }
        p {
            margin-bottom: 70px;
            font-size: 12px;
        }
        &-row {
            justify-content: center;
        }
    }
    .live-img {
        display: none;
    }

    .bonus {
        padding: 50px 0;
        margin-bottom: 90px;
        padding-bottom: 0;
    }
    .bonus-row {
        margin-top: 40px;
        .item {
            padding: 30px 23px;
            margin-bottom: 45px;
            &::before {
                width: calc(100% - 46px);
                height: calc(100% - 60px);
            }
            &-title {
                width: 187px;   
                height: 25px;
                margin-top: -13px;
                margin-bottom: 15px;
                span {
                    font-size: 10.2519px;
                    line-height: 125%;
                    
                }
            }
            &-percent {
                font-size: 16.0185px;
                margin-bottom: 12px;
            }
            &-money {
                font-size: 32.4444px;
                margin-bottom: 32px;
                span {
                    font-size: 12.8148px;
                    margin-bottom: 0px;
                    padding-bottom: 5px;
                }
            }
            &-cod {
                margin-bottom: 40px;
                span {
                    font-size: 16.0185px;
                }
                p {
                    width: 95px;
                    height: 25px;
                    font-size: 10.2519px;
                }
            }
            &-img {
                width: 100px;
                bottom: -20px;
                right: -20px;
                img {
                    width: 100%;
                }
            }
            .txt {
                font-size: 16.0185px;
                line-height: 136%;
                margin-bottom: 60px;
                margin-top: 73px;
            }
            .btn {
                transform: scale(.8);
            }
        }
    }

    .fast-pay {
        .container {
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }
    .fast-pay-left {
        width: 100%;
        max-width: 100%;
        font-size: 20px;
        margin-bottom: 25px;
        br {
            display: none;
        }
    }
    .fast-pay-right {
        width: 100%;
        align-items: center;
        text-align: center;
        span {
            margin-bottom: 70px;
            font-size: 12px;
        }
    }

    .size-jackpot {
        min-height: 560px;
        padding-bottom: 255px;
        padding-top: 50px;
        margin-top: -10px;
        margin-bottom: -10px;
        &::before {
            background: url("../img/size-jackpot/bg-m.png") center no-repeat;
            background-size: cover;
        }
        &.sj2 {
            padding-top: 160px;
            &::before {
                background: url("../img/size-jackpot/bg-2-m.png") center no-repeat;
                background-size: cover;
            }

        }
        .container {
            span {
                font-size: 20px;
                margin-bottom: 20px;
            }
            p {
                font-size: 50px;
                margin-bottom: 60px;
            }
        }
    }

    .faq {
        padding: 50px 0;
        padding-bottom: 80px;
    }

    .faq-column {
        .item {
            margin-bottom: 35px;
            &-title {
                
                span {
                    width: 80%;
                    font-size: 16px;
                    line-height: 19px;
                }
                .img {
                    width: 13px;
                    height: 13px;
                    background-size: 100% 100%;
                }
            }
            &-content {
                margin-top: 15px;
                margin-bottom: 50px;
                span {
                    font-size: 15px;
                    line-height: 187%;
                }
            }
        }
    }

    .footer {
        padding: 50px 0;
        min-height: 100%;
        padding-top: 0;
    }
    .footer-row {
        &__item {
            width: 100% !important; 
            max-width: 100% !important;
            margin-bottom: 70px !important;
            &:nth-child(3) {
                width: 50% !important;
                align-items: flex-start;
                .img {
                    width: 100%;
                    max-width: 103px;
                    height: 101px;
                    img {
                        width: 100%;
                    }
                }
            }
            &:nth-child(4) {
                width: 50% !important;
                .img {
                    width: 100%;
                    max-width: 158px;
                    height: 144px;
                    img {
                        width: 100%;
                    }
                }
            }
            &.lg {
                display: block;
                margin-bottom: 0;
                .img {
                    width: 65px ;
                    height: 67px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .row-img {
                flex-wrap: wrap;
                justify-content: flex-start;
                &:nth-child(3) {
                    margin-top: 0;
                }
                a {
                    margin-bottom: 25px;
                    img {
                        width: 80%;
                    }
                }
            }
        }
    }
    .footer-coopy {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
        img {
            margin-bottom: 50px;

        }
        span {

        }
    }

    .offer-bonuses {
        padding: 50px 0;
        padding-bottom: 0;
    }
    .offer-bonuses-title {
        margin-bottom: 60px;
        font-size: 20px;
        max-width: 80%;
    }
    .offer-bonuses-row {
        .item {
            margin-bottom: 40px;
            margin-top: 0 !important;
            .img {
                min-height: 140px;
            }
            .text {
                padding: 18px;
                &-title {
                    margin-bottom: 16px;
                    font-size: 16.0185px;
                }
                &-subtitle {
                    margin-bottom: 16px;
                    font-size: 9.61111px;
                }
                span {
                    margin-bottom: 16px;
                    font-size: 8.32963px;
                }
                .btn {
                    padding: 14px;
                    font-size: 10.2519px;
                }
            }
        }
    }

    .slots {
        padding: 50px 0;
        padding-bottom: 0;
    }
    .slots-title {
        margin-bottom: 60px;
        font-size: 20px;
        text-align: left;
    }
    .slots-row {
        .item {
            max-width: 48%;
            margin-bottom: 40px;
        }
    }

    .modal-menu {
        opacity: 0;
        width: 100%;
        height: 373px;
        position: fixed;
        left: 0;
        top: -120%;
        z-index: 100;
        background: #000000;
        padding: 40px 15px;
        transition: 0.3s;
        display: block;
        &.active {
            opacity: 1;
            top: 80px;
        }
        &-close {
            position: absolute;
            right: 15px;
            top: 30px;

        }
        .header-menu {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 40%;
            a {
                width: 100%;
                margin-bottom: 16px !important;
                font-family: 'Alegreya Sans' !important;
                font-weight: 500 !important;
                font-size: 20px !important;
                line-height: 200% !important;
                padding: 0 !important;
                color: #FFFFFF;
            }
        }
    }
}